{% extends "postbase.html" %}

{% load static %}


{% block nota %}

<div class="list-group">
    <a href="/myapp/Post1older" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nuevo dolor de cabeza para los productores: ¿vuelve La Niña?</h5>
        <small></small>
      </div>
      <p class="mb-1">La posibilidad de que se produzca un nuevo período de escasez de lluvias fue pronosticada por el meteorólogo Leonardo De Benedictis. El profesional se presentó en Expoagro 2024 sumando sus conocimientos luego del panel "Tiempo y Clima" con técnicos del Servicio Meteorológico Nacional y CREA.</p>
      <small>6 de Marzo 2024</small>
    </a>
    <a href="/myapp/Post2older" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">El mercado clave que llevó a Microsoft a ser la empresa más grande del mundo</h5>
        <small class="text-muted"></small>
      </div>
      <p class="mb-1">Hace sólo 15 años, la tecnológica estaba en el puesto 35 de las empresas más grandes del mundo. De hecho, sus acciones colapsaron un 75% entre el 2000 y el 2009.</p>
      <small class="text-muted">6 de Marzo 2024</small>
    </a>
    <a href="/myapp/Post3older" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Lagarde, implacable: Habrá tipos restrictivos "el tiempo que sea necesario"</h5>
        <small class="text-muted"></small>
      </div>
      <p class="mb-1">"El Consejo de Gobierno está decidido a garantizar que la inflación regrese oportunamente a su objetivo de mediano plazo del 2%. Sobre la base de su...</p>
      <small class="text-muted">6 de Marzo 2024</small>
    </a>
  </div>

{% endblock nota %}