{% extends "postbase.html" %}

{% load static %}


{% block titulo %}

                            
    <h1>Boeing: el CEO y altos directivos dejan a la fabricante de aviones en plena crisis</h1>
    <h2 class="subheading">Desde el CEO de Boeing hasta altos directivos del Board anunciaron su alejamiento de la fabricante de aviones, en medio una amplia reorganización motivada por la crisis de seguridad ante un accidente producido en enero</h2>
    <span class="meta">
        Posted by
        <a href="https://www.cronista.com/">El Cronista</a>
        on March 6, 2024
                                
{% endblock titulo %}

{% block nota %}
                        <p>El presidente ejecutivo de Boeing, Dave Calhoun, dejará su cargo a fin de año, en medio una amplia reorganización de la dirección motivada por la crisis de seguridad que enfrenta el segundo mayor fabricante de aviones del mundo. </p>
                        <p>La reestructuración desatada tras la falla de un panel de un avión 737 MAX en pleno vuelo en enero,  incluye el anuncio de varios cambios en el directorio. Stan Deal, presidente ejecutivo de Boeing Commercial Airplanes -es decir responsable de la división de aviones comerciales- se jubilará inmediatamente y lo reemplazará Stephanie Pope, directora de operaciones de la empresa. El presidente de la junta, Larry Kellner, también informó que no tiene previsto seguir en el cargo cuando termine su mandato actual.</p>
                        <p>"Quiero compartir con ustedes que decidí que este será mi último año como director ejecutivo de nuestra gran empresa y ya notifiqué a la junta directiva la decisión", anunció Calhoun, que está al frente de la compañía desde 2020, en un comunicado.</p>
                        <p>El ejecutivo ha estado bajo presión desde el incidente del 5 de enero, cuando un panel se desprendió de un vuelo de Alaska Airlines a unos 16.000 pies de altura. "El accidente del vuelo 1282 de Alaska Airlines fue un momento decisivo para Boeing. Debemos seguir respondiendo con humildad y total transparencia", enfatizó.</p>
                        <p> A la vez, Steve Mollenkopf ha sido nombrado nuevo presidente del consejo de administración.</p>
                        <p>La crisis de Boeing igualmente se inició hace cinco años cuando dos 737 Max-8 se estrellaron en circunstancias similares, en octubre de 2018 y marzo de 2019, lo que dejó un saldo de 346 personas muertas.</p> 
                        {% comment %} <h2 class="section-heading">Panel Informativo</h2> {% endcomment %}
                        <p>La empresa se enfrenta desde entonces a una fuerte investigación y las autoridades estadounidenses han frenado la producción mientras intenta solucionar los problemas de seguridad y calidad.</p>
                        <p>La semana pasada, un grupo de presidentes ejecutivos de aerolíneas estadounidenses solicitaron reuniones con directivos de Boeing para expresar su preocupación por el accidente del 737 MAX 9 de Alaska Airlines, afirmando que era una señal inusual de frustración por los problemas del fabricante y Calhoun.</p>
                        <p>La crisis de la compañía ha frustrado a las aerolíneas que ya están luchando con los retrasos en las entregas tanto de Boeing como de su rival Airbus, y el fabricante de aviones ha estado 'quemando' más efectivo de lo esperado en este trimestre, según explicó la agencia Reuters.</p>
                        <p>El principal rival de la compañía, Airbus, consiguió recientemente pedidos de 65 aviones de dos de los principales clientes asiáticos de Boeing, en lo que algunos consideraron una señal de la preocupación de los ejecutivos por Boeing.</p>
                        
                        {% comment %} <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>
                        <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>
                        <h2 class="section-heading">Reaching for the Stars</h2>
                        <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>
                        <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                        <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                        <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a> {% endcomment %}
        

{% comment %} {% else %}
<p>Debe loguearse para ver este contenido.</p> {% endcomment %}

{% comment %} {% endif %} {% endcomment %}
{% endblock nota %}