{% extends "postbase.html" %}

{% load static %}


{% block titulo %}

                            
    <h1>Caputo: "El cepo cambiario se levantará cuando no haya riesgos"</h1>
    <h2 class="subheading">El ministro de Economía afirmó que las jubilaciones mejorarán con la nueva fórmula atada al IPC por decreto y que la salida del cepo cambiario será para más adelante.</h2>
    <span class="meta">
        Posted by
        <a href="https://dolarhoy.com/">Dolar Hoy</a>
        on March 6, 2024
                                
{% endblock titulo %}

{% block nota %}
                        <p>El ministro de Economía, Luis Caputo, brindó importantes declaraciones al canal LN+ sobre diversas cuestiones económicas, una de ellas acerca de la merma del poder adquisitivo de los jubilados, y evaluó que dos factores predominantes han erosionado sus ingresos en los últimos tiempos: "La auténtica merma en las jubilaciones provino de las moratorias".</p>
                        <p>"Existe un contingente de trabajadores que se ha mantenido constante desde 2011. Anteriormente, con sus contribuciones, sustentaban a 2.000.000 de jubilados; ahora son 6.000.000 debido a que el kirchnerismo incorporó 4.000.000 sin contribuciones. Las cifras no cuadran", afirmó.</p>
                        <p>"La segunda causa es la fórmula que advertimos desde el principio. Es muy deficiente. Queremos resolverlo, pero lo utilizan con fines políticos, estamos cansados de ello. Al 30% que otorgamos el mes pasado, le sumamos el 13% de febrero y un 12,5% de recomposición, sin tener en cuenta el bono. Por lo tanto, la nueva jubilación mínima será de $172.000. Experimentarán una mejora del 64%", añadió.</p>
                        <p>Consideró que al optar por incrementar las jubilaciones mediante decreto "se acabó el juego político". "Enfrentamos la situación directamente, lo establecimos mediante DNU y a partir de ahora se ajustará mensualmente. El siguiente ajuste les habría correspondido en junio. A partir de abril, se ajustará cada mes".</p>
                        <p>Sostuvo que la inflación seguirá una tendencia a la baja desde su pico de más del 25% en diciembre. A su vez recalcó que "el cepo cambiario se levantará cuando no haya riesgos"</p>
                        <p>Además, hizo referencia a la reunión mantenida con las principales cadenas de supermercados. Abordó el tema de los precios excesivos y la necesidad de que comiencen a disminuir, en parte, mediante la apertura de importaciones de productos de primera necesidad.</p> 
                        {% comment %} <h2 class="section-heading">Panel Informativo</h2> {% endcomment %}
                        <p>"No es extraño que me reúna con los formadores de precios. Me preocupo y ocupo de los precios. Querían compararme con Guillermo Moreno... hay una diferencia. Es cuestión de cómo queremos resolverlo. Si veo precios por encima de lo que deberían ser, me preocupo, pero no intervendré en el INDEC para hacer creer a la gente que la inflación es más baja o establecer Precios Cuidados. Los hacemos competir".</p>
                        <p>"Los empresarios admiten que han aumentado los precios teniendo en cuenta una situación económica mucho peor. Hoy no los ajustan. Ofrecen promociones de 2x1 que no se reflejan en el índice de precios. Es una observación de la realidad. Ahora están cambiando eso, y para darles un empujoncito, hemos abierto más importaciones en la canasta básica, para que sientan la presión de que si no bajan los precios, vendrán productos importados para sustituirlos", explicó.</p>
                        <p>"Lo que podemos garantizar firmemente es que no nos desviaremos del rumbo. Ni un ápice. Nunca he visto a alguien tan convencido", comentó sobre el presidente Javier Milei. "Lo óptimo sería avanzar con el respaldo del Congreso y los gobernadores, pero es mejor no negociar con la política y evitar aumentar el gasto para financiarlo con deuda o emisión. La alternativa es seguir el rumbo actual, ir con la gente, eventualmente sin la política", afirmó.</p>
                        
                        {% comment %} <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>
                        <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>
                        <h2 class="section-heading">Reaching for the Stars</h2>
                        <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>
                        <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                        <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                        <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a> {% endcomment %}
        

{% comment %} {% else %}
<p>Debe loguearse para ver este contenido.</p> {% endcomment %}

{% comment %} {% endif %} {% endcomment %}
{% endblock nota %}