{% extends "postbase.html" %}

{% load static %}


{% block titulo %}
{% comment %} {% if request.user.is_authenticated %} {% endcomment %}
                            
    <h1>Nuevo dolor de cabeza para los productores: ¿vuelve La Niña?</h1>
    <h2 class="subheading">La posibilidad de que se produzca un nuevo período de escasez de lluvias fue pronosticada por el meteorólogo Leonardo De Benedictis. El profesional se presentó en Expoagro 2024 sumando sus conocimientos luego del panel "Tiempo y Clima" con técnicos del Servicio Meteorológico Nacional y CREA.</h2>
    <span class="meta">
        Posted by
        <a href="https://eleconomista.com.ar/">El Economista</a>
        on March 6, 2024
                                
{% endblock titulo %}

{% block nota %}
                        <p>Las perspectivas climáticas 2024 fueron analizadas en el espacio "Punto Clima" de la expo, ubicado en el Anfiteatro SPS Semillas, donde se desarrolló el panel "Tiempo y Clima", en una actividad coorganizada por Expoagro edición YPF Agro y el Servicio Meteorológico Nacional (SMN).</p>
                        <p>El disertante de cierre fue el meteorólogo Leonardo De Benedictis, quien envió un preocupante mensaje a los productores: en la primavera volvería La Niña.</p>
                        <p>"Esta campaña viene a los tropezones, en algunos casos mejor, en otros no tanto; pero las decisiones ya están tomadas, entonces la idea es apuntar a las perspectivas climáticas para la campaña 2024/2025. Ya se viene la fina, y tenemos que empezar a planificar", evaluó De Benedictis.</p>
                        <p>El analista agregó que "esta es una mala noticia para el productor porque este año, si bien ha sido Niño, la lluvia sólo sirvió para poder implantar los cultivos y desarrollarlos, pero no para generar reservas para afrontar un año complicado".</p>
                        <p>Como dato aleatorio, De Benedictis apuntó que "los perfiles están muy mal en la mayor parte del país. Todavía nos quedan dos meses claves que son marzo y abril, que suelen tener eventos de lluvia importantes. Pero son dos meses nada más, con lo cual volverá a ser un año complicado si se confirma La Niña".</p>
                        <p>De acá a la primavera se espera que se mantengan los parámetros normales de lluvia, "con lo cual vamos a tener algo de actividad, pero sabemos que el invierno no es un período de reposición de agua y, con suerte, se mantiene la humedad, es decir que no servirá para mejorar la situación hídrica", sostuvo.</p> 
                        <h2 class="section-heading">Panel Informativo</h2>
                        <p>El panel informativo, destinado a productores, empresarios y público general, versó sobre el impacto de El Niño y las predicciones sobre su evolución para los próximos meses.</p>
                        <p>En el encuentro, las perspectivas de temperaturas y precipitaciones fueron temas centrales de análisis. En tanto el SMN presentó distintos productos enfocados al sector agropecuario, como la plataforma Prorindes y el Balance Hídrico Operacional para el Agro.</p>
                        <p>El panel estuvo integrado por Gabriela Marcora, especialista en agro-meteorología (SMN), quien mostró productos de monitoreo y pronóstico de algunos indicadores específicos para el sector, que se encuentran disponibles al público.</p>
                        <p>En parte de su exposición, Marcora apuntó que "seguimos bajo influencia de El Niño, seguimos viendo su impacto, e inevitablemente vamos a tener que pasar por condiciones normales, porque el Océano Pacífico Central se tiene que enfriar para pasar a una etapa de La Niña, y como es una masa tan grande, eso no pasará de un día para otro ni de una semana para otra".</p>
                        <p>Del panel también formó parte José Luis Stella, especialista en climatología (SMN) que se encargó de analizar el impacto que tuvo el fenómeno "El Niño" durante la primavera-verano. Presentó el pronóstico climático de precipitación y temperatura media para el trimestre de otoño, y analizó la posibilidad de persistencia de las condiciones de este fenómeno y cómo impactará a nivel regional.</p>
                        <p>Por su parte, Luciano Vidal, doctor en Ciencias de la Atmósfera (SMN), presentó productos obtenidos a partir de sensores remotos. Además, participó Guillermo García, doctor en Ciencias Agropecuarias y responsable del Área Ambiente en la Unidad de I+D de CREA, quien describió que "tenemos distintas estrategias para reducir la vulnerabilidad del sistema o aumentar su resiliencia, traducido en diversificación, espacio temporal; no poner todos los huevos en la misma canasta. Es decir, no hay que sembrar todo lo mismo y en el mismo momento. También hay otras estrategias, como pensar en sistemas de riego o de drenaje en regiones con excesos".</p>
                        <p>Al mismo tiempo recomendó tener en cuenta la fisiología del cultivo, "porque, en definitiva, estamos gestionando el riesgo climático y ahí es relevante la información que provee el SMN". 
                        {% comment %} <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>
                        <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>
                        <h2 class="section-heading">Reaching for the Stars</h2>
                        <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>
                        <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                        <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                        <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a> {% endcomment %}
        

{% comment %} {% else %}
<p>Debe loguearse para ver este contenido.</p> {% endcomment %}

{% comment %} {% endif %} {% endcomment %}
{% endblock nota %}