{% extends "postbase.html" %}

{% load static %}

{% block titulo %}

    <h1>El mercado clave que llevó a Microsoft a ser la empresa más grande del mundo</h1>
    <h2 class="subheading">Hace sólo 15 años, la tecnológica estaba en el puesto 35 de las empresas más grandes del mundo. De hecho, sus acciones colapsaron un 75% entre el 2000 y el 2009.</h2>
    <span class="meta">
        Posted by
        <a href="#!">Dolar Hoy</a>
        on March 6, 2024

{% endblock titulo %}

{% block nota %}
                        <p>Gracias a su valor de USD 3 billones, Microsoft es la empresa más grande del mundo, ubicándose por encima de Apple y Saudí Aramco. Sin embargo, hace sólo 15 años, la tecnológica estaba en el puesto 35. De hecho, sus acciones colapsaron un 75% entre el 2000 y el 2009. ¿Qué fue lo que sucedió?.</p>
                        <p>Básicamente, desde que Satya Nadella asumió como director ejecutivo en 2014, en reemplazo de Steve Ballmer, la corporación estadounidense comenzó a enfocarse fuertemente en el negocio de la nube.</p>
                        <p>Cuando el ejecutivo llegó al mando, el negocio de la nube era el más pequeño de los tres grandes segmentos de Microsoft, ya que los principales eran Productividad y Procesos de Negocio (compuesto por el famoso paquete Office) y Computación Personal (que incluía Windows, Xbox y hardware).</p>
                        <p>Pero, en el último trimestre del 2023, el más reciente, Microsoft informó ingresos de Nube Inteligente de USD 25.900 millones, muy por encima de las otras dos divisiones, que registraron USD 19.200 millones y USD 16.900 millones, respectivamente.</p>
                        <p>Como se puede apreciar en el siguiente gráfico, en donde se marca el segmento de nube en color amarillo, Nadella transformó la icónica empresa de software y computación personal en un verdadero gigante de los servicios en la nube, lo que llevó a Microsoft a romper toda clase de récords financieros, corporativos y bursátiles.</p>
                        <h2 class="section-heading">Cómo invertir en Microsoft</h2>
                        <p>Para invertir en Microsoft desde Argentina, solo basta con abrir una cuenta comitente en una sociedad de bolsa regulada por la Comisión Nacional de Valores como lo es Bull Market Brokers, proceso gratuito que no llevará más de cinco minutos, y, tras depositar los fondos deseados, adquirir Cedears.</p>
                        <p>Los Cedears o Certificados de Depósito Argentinos son instrumentos que equivalen a comprar la acción subyacente que cotiza en el exterior (NASDAQ: MSFT), pero se pueden operar en pesos (BCBA: MSFT) y siguen la evolución del dólar CCL, por lo que permiten evadir el riesgo argentino y, a la vez, cubrirse de un eventual salto cambiario.</p>



                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>

{% endblock nota %}