{% extends "postbase.html" %}

{% load static %}

{% block titulo %}

    <h1>Lagarde, implacable: Habrá tipos restrictivos "el tiempo que sea necesario"</h1>
    <h2 class="subheading"> "El Consejo de Gobierno está decidido a garantizar que la inflación regrese oportunamente a su objetivo de mediano plazo del 2%. Sobre la base de su...</h2>
    <span class="meta">
        Posted by
        <a href="https://www.investing.com/">Investing</a>
        on March 6, 2024

{% endblock titulo %}

{% block nota %}
                        <p>"El Consejo de Gobierno está decidido a garantizar que la inflación regrese oportunamente a su objetivo de mediano plazo del 2%. Sobre la base de su evaluación actual, el Consejo de Gobierno considera que los tipos de interés oficiales del BCE se encuentran en niveles que, mantenidos durante un período suficientemente largo, contribuirán sustancialmente a este objetivo. Las decisiones futuras del Consejo de Gobierno garantizarán que las tasas oficiales se fijen en niveles suficientemente restrictivos durante el tiempo que sea necesario", ha reiterado Christine Lagarde, presidenta del Banco Central Europeo (BCE), en su rueda de prensa posterior a la decisión de tipos de interés.</p>
                        <p>"Desde la última reunión del Consejo de Gobierno en enero, la inflación ha seguido disminuyendo", ha dicho Lagarde.</p>
                        <p>En las últimas proyecciones de los expertos del BCE, la inflación se ha revisado a la baja, en particular para 2024, lo que refleja principalmente una menor contribución de los precios de la energía. El organismo ahora proyecta que la inflación promediará 2,3% en 2024, 2,0% en 2025 y 1,9% en 2026. Las proyecciones de inflación excluyendo energía y alimentos también se han revisado a la baja y promedian 2,6% para 2024, 2,1% para 2025 y 2,0% para 2026.</p>
                        <p>"Aunque la mayoría de los indicadores de inflación subyacente han seguido disminuyendo, las presiones sobre los precios internos siguen siendo elevadas, en parte debido al fuerte crecimiento de los salarios", ha reconocido Lagarde. "Las condiciones de financiación son restrictivas y los anteriores aumentos de los tipos de interés siguen pesando sobre la demanda, lo que está contribuyendo a reducir la inflación", ha añadido.</p>
                        <p>El BCE ha revisado a la baja su proyección de crecimiento para 2024 al 0,6%, y se espera que la actividad económica se mantenga moderada en el corto plazo. A partir de entonces, espera que la economía se recupere y crezca al 1,5% en 2025 y al 1,6% en 2026, respaldada inicialmente por el consumo y por la inversión.</p>
                        <p>"El Consejo de Gobierno seguirá aplicando un enfoque dependiente de los datos para determinar el nivel apropiado y la duración de la restricción. En particular, las decisiones del Consejo de Gobierno sobre los tipos de interés se basarán en su evaluación de las perspectivas de inflación a la luz de los datos económicos y financieros, la dinámica de la inflación subyacente y la fortaleza de la transmisión de la política monetaria", ha dicho Lagarde.</p>
                        <p>El tipo de interés de las operaciones principales de financiación y los tipos de interés de la facilidad marginal de crédito y de la facilidad de depósito se mantendrán sin cambios en el 4,50%, 4,75% y 4,00%, respectivamente, indica el comunicado del BCE.</p>
                        <p>El Consejo de Gobierno tiene la intención de seguir reinvirtiendo íntegramente los pagos de principal de los valores adquiridos en el marco del PEPP que venzan durante el primer semestre de 2024. Durante el segundo semestre del año, tiene la intención de reducir la cartera del PEPP en 7 500 millones de euros al mes. de media. El Consejo de Gobierno tiene intención de interrumpir las reinversiones en el marco del PEPP a finales de 2024.</p>
                        <p>Asimismo, el BCE seguirá aplicando flexibilidad a la hora de reinvertir los reembolsos vencidos en la cartera de PEPP, con vistas a contrarrestar los riesgos para el mecanismo de transmisión de la política monetaria relacionados con la pandemia.</p>
                        <p>"A medida que los bancos reembolsan los importes prestados en el marco de las operaciones de financiación a más largo plazo, el Consejo de Gobierno evaluará periódicamente cómo las operaciones de préstamo específicas y su reembolso en curso están contribuyendo a su postura de política monetaria", ha subrayado Lagarde.</p>



                            {% comment %} Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a> {% endcomment %}

{% endblock nota %}